[2019-07-01 06:14] zhazhalaila opened #1 "Have a little trouble to understand source code"
Hi miguel!
In `example/gpio.py`, I  notice parameters `response`. I think in `gpio.py`, I don't import `response class` from `microdot.py`, but when I get attributes I get this.
I add two lines code in `gpio.py`.
[code]
I get this.
[code]
So, the `response class` from where?

[2019-07-01 10:40] miguelgrinberg commented on #1
The response class is defined in microdot.py.

[2019-07-01 12:58] zhazhalaila commented on #1
Yeah. I get this.
In the microdot.py, I notice two line
[code]
When I run gpio.py, I access `http://0.0.0.0:5000`. It will execute this two line. After than I get a `response class`. But what to make me confused is that I don't create `response class` and access it as parameter.

So where is the way to create `response class`.

In my understanding, I think i should write this code

microdot.py
[co

[2019-07-01 13:03] miguelgrinberg commented on #1
That's not how this framework works. The response object is created after the handler returns: See https://github.com/miguelgrinberg/microdot/blob/master/microdot/microdot.py#L361-L366.

[2019-07-01 13:24] zhazhalaila commented on #1
But I don't wirte `@before_request` or `@after_request`
In gpio.py, `response class` from where?
Why I can write `response.set_cookie('form', form_cookie)` in gpio.py and no need to import microdot.Response?

[2019-07-01 13:26] miguelgrinberg commented on #1
I don't understand what you are finding confusing. The `redirect()` and `send_file()` functions both return ` Response` object already created. You can invoke any methods of this object without having to import the object itself. The class needs to be available only if you need to create a new object, but in this situation the object is created by the framework.

[2019-07-01 13:43] zhazhalaila commented on #1
I don't focus on `redirect()` and `send_file()`, I'm so silly.  So grateful for you!

[2019-07-01 13:43] #1 closed

[2020-02-18 17:03] xorbit opened #2 "upip install fails"
Hi Miguel,

Even though Microdot seems to be in the Pypi repo, I cannot install it.
I'm using "MicroPython v1.12 on 2019-12-20; ESP32 module with ESP32"

[code]

Any ideas?

[2020-02-18 19:57] miguelgrinberg commented on #2
Unfortunately upip isn't giving an error message, note the "," between the colon and the word "packages". It's supposed to show an error message there and it isn't, so I do not know. I can confirm that I get the same error on the ESP8266, and also on the MacOS release.

The fact it happens on several platforms including a desktop one suggests it is not memory related. I'll have to investigate this

[2020-02-18 20:15] miguelgrinberg commented on #2
Can you try again? The problem was caused by having wheel package along with the source distribution uploaded to PyPI. That confuses upip. I have now removed all the wheel packages.

On the Mac MicroPython I can get it installed just fine. On the ESP8266 it fails with a different error, which could be memory. I don't have an ESP32 at hand right now, so can you please test it on your side and repor

[2020-02-18 21:23] xorbit commented on #2
It works now on ESP32, thanks for the quick fix!
And for providing a good alternative to Picoweb, which is now broken.

[2020-02-18 21:58] xorbit opened #3 "send_file fails with larger files"
`send_file` is great but it seems to have an issue with larger files.

When trying to send an 18k JPG, I get this:

[code]

Looking at the code, I think a likely problem is that it reads the whole file into memory before it sends it.  Is there a way to do this differently, more like a stream architecture, so it doesn't need so much memory?

[2020-02-18 22:50] miguelgrinberg commented on #2
Picoweb has been broken for a very long time. That is one of the reasons I created microdot! Thanks.

[2020-02-18 22:57] miguelgrinberg commented on #3
Yes, large files would not work with the current implementation.

The `Response.write()` method assumes `self.body` contains the bytes, all in memory. We can accept a file-like object as body, and then the write can be done in small chunks. Would that work?

[2020-02-18 22:57] #2 closed

[2020-02-18 23:17] xorbit commented on #3
It probably would work, if I knew how exactly. :)

I mostly use MicroPython in support of my hardware (wESP32) to support my customers, but I'm by no means an expert.

Could you provide a simple example on how to implement an endpoint to serve files that way?

[2020-02-19 00:08] #3 closed

[2020-02-19 00:09] miguelgrinberg commented on #3
Give the microdot.py version in the master branch a try. I have changed it to send file downloads in blocks of 1024 bytes now.

[2020-02-19 16:43] xorbit commented on #3
Hi Miguel,

Tested it, but it's kind of odd.  It loads the image (29K now), but it throws errors all the time as well:

[code]

[2020-02-19 17:20] xorbit commented on #3
Another thing.  I have a test app that keeps making AJAX calls, and after running a while, this happens:

[code]

That's not good.
Maybe would be a good idea to get an ESP32 so you can test in memory constrained environments?

[2020-02-20 12:56] miguelgrinberg commented on #3
I'll test with images to see if I get this problem here.

I'll also look into the thread issue. I expected threads would be cleaned up when they end, but maybe I'm wrong there. Memory problems can also be caused by your application leaking resources I guess, depending on what you do on your web handlers.

[2020-02-20 19:06] xorbit commented on #3
My handlers are very simple:

[code]

`/light` is the one that's called continuously by the page.

[2020-03-03 21:47] xorbit commented on #3
Any update on this?  In lieu of that, how does one use the asyncio version?

[2020-03-05 16:36] xorbit opened #4 "upip install of microdot-asyncio fails"
Similar to #2, I get the same error for `microdot-asyncio` installing with `upip`.

[code]
Again no error message between : and ,
Same fix hopefully?

[2020-03-05 17:49] xorbit opened #5 "send_file fails with larger files in asyncio version"
Was the issue in #3 also fixed in the asyncio version?

When trying to send a 30 kB file this happens:

[code]
The picture was only partially loaded and the web server dead after this (back to Python prompt).

[2020-03-05 20:06] miguelgrinberg commented on #4
yeah, forgot to fix this one as well. Should be okay now.

[2020-03-05 20:06] #4 closed

[2020-03-05 20:24] miguelgrinberg commented on #5
Both versions received the same fix, but none of them made it to PyPI yet, you have to install from the master branch on this repo.

[2020-03-05 20:28] xorbit commented on #5
Well, since I couldn't install from PyPi (due to #4), I did get it from master here and that's the version that exhibited the error.

[2020-03-05 23:30] miguelgrinberg commented on #5
This is the same error you have reported on the non-asyncio version, which makes sense because both have received the same change.

[2020-03-05 23:32] xorbit commented on #5
I'm confused.  You fixed it so the non-async version works with this 30 kB image, but the async doesn't and gives the above error.

[2020-03-06 00:03] miguelgrinberg commented on #5
Yes, on the asyncio version there is just one thread. If there is an error that is not handled the server would stop running. Regardless of the solution to these errors, I will be making sure I catch any possible errors to prevent the server from ending.

[2020-03-06 15:54] xorbit commented on #5
Thanks Miguel, I appreciate your efforts!
At the moment I have the issue that I can't really recommend any MicroPython web server solution to my customers, it will be very nice when these issues are fixed.

[2020-04-26 17:42] kyrgyz-nlp opened #7 "upip install fails"
Hi!
I flashed Micropython to my esp8266 a couple of days ago (pulled from master) and I couldn't install it with `upip.install('microdot')`.
It says:
[code]

How can I install manually?
I mean, how a folder structure should look like?

[2020-04-26 18:01] miguelgrinberg commented on #7
See https://github.com/miguelgrinberg/microdot/issues/2. Your problem could be related to memory. Try copying the source file(s) manually into your board.

[2020-06-16 07:32] justLlz opened #10 "add send func"

[2020-06-16 07:38] #10 closed

[2020-06-16 07:48] justLlz opened #11 "add func to return"
![2EE19C19-C447-4d62-940A-67A460A27C4C](https://user-images.githubusercontent.com/42207999/84746570-bdcfb100-afe8-11ea-9fc0-d5e1076ed3eb.png)
    @classmethod
    def send(cls, file_date, content_type=None, status_code=200):
        if not content_type:
            content_type = 'application/octet-stream'
        return cls(body=file_date, status_code=status_code,
                   headers={'Con

[2020-06-16 11:09] miguelgrinberg commented on #11
Why is this necessary? It is a single line of code to return some data:

[code]

[2020-06-17 03:35] #11 closed

[2020-09-20 11:01] ghouse41 opened #13 "unable to install microdot on esp8266"
Installing to: /lib/
Warning: micropython.org SSL certificate is not validated
Error installing 'microdot': syntax error in JSON, packages may be partially installed

[2020-09-20 11:07] miguelgrinberg commented on #13
The upip is not very robust. Sometimes it reads partial information from the package repository, making it think the data is invalid, other times it just runs out of memory. I suggest you just get the .py file(s) that you are interested in from this repository and copy them into your project.

[2020-09-20 16:27] ghouse41 commented on #13
Thank you, after copying microdot.py able to run server. Thank you for your quick  response.

[2020-09-20 21:08] #13 closed

[2020-10-09 18:56] #7 closed

[2020-10-21 15:34] zagl opened #14 "Check for http headers must not be case-sensitive"
In the __init__ and create functions of Request the header keys are compared with case-sensitive strings (Content-Length, Content-Type and Cookie) but the HTTP specification says that these header keys are case-insensitive.

https://github.com/miguelgrinberg/microdot/blob/c5e1873523b609680ff67d7abfada72568272250/microdot/microdot.py#L90

The check should be case-insensitive like so:
`if header.low

[2020-10-21 16:02] miguelgrinberg commented on #14
Yes, it would be better to not assume the standard spelling.

[2020-12-09 23:01] colin-infersens opened #15 "Variable Rules in Microdot?"
Hi Miguel,

I'm trying to set up variable rules for app routes, and I'm not succeeding in my efforts to get them to work. Would you expect the following to work, as an example, for any files stored in a sub directory ('/img/')?:

[code]

I'd be very grateful for your assistance.

Many thanks,

Colin

[2020-12-10 08:07] miguelgrinberg commented on #15
Yes, the route spec seems correct to me. But I think you are missing a slash when you build your file path:

    filepath = 'www/img/' + str(subpath)

A beginning slash is not part of your `subpath` pattern, so you have to add that.

[2020-12-10 08:47] colin-infersens commented on #15
Thanks for responding so quickly, Miguel; I'll give that a try.

Kind regards,

Colin

[2020-12-10 09:43] colin-infersens commented on #15
Hi Miguel,

I've tried adding the slash, as you suggested, as follows:

[code]
...but I get the following error in the console:
[code]

Thanks again,

Colin

[2020-12-10 19:24] miguelgrinberg commented on #15
@colin-infersens Okay, the problem is that you did not include the required `request` argument in your handler. Microdot is fairly similar to Flask, but it does not have any of that app/request context magic. The request is always the first argument sent to handlers.

[code]

[2020-12-10 23:47] colin-infersens commented on #15
Thank you, Miguel - that worked perfectly!

[2020-12-10 23:47] #15 closed

[2021-02-04 10:09] amakaro opened #16 "Unhandled EINTR exception thrown from Microdot.run() accept() call"
Microdot 0.3.0 (running on MicroPython v1.12-1 on 2020-02-09; linux version on Ubuntu 20.04.2 LTS) does not handle OS Error 4 (EINTR) that can be thrown from the s.accept() call in Microdot.run().
[Symptom: Hit Reload repeatedly in web-browser to load one HTML file and one PNG image file; EINTR gets thrown (seemingly at random) approximately 1 time in 10].
Arguably this exception should be handled

[2021-02-04 10:32] miguelgrinberg commented on #16
Thanks! Looks like a good fix, I'll test it and add it to the package.

[2021-02-04 23:16] miguelgrinberg commented on #16
@amakaro What version of MicroPython are you using? It appears this was fixed directly in the interpreter in the 1.14 release. The commit is here: https://github.com/micropython/micropython/commit/9418611c8aa860812e28b6e2b6bfde7be5817b43.

Given that this is now handled internally I don't see a need to patch it again here.

[2021-02-05 06:46] amakaro commented on #16
Hi Miguel,

As per the original issue report, I was using Micropython 1.12. (“sudo apt install micropython” on Ubuntu 20.04).

I’ll have to see if I can get a 1.14 version installed on Ubuntu for dev purposes.

My target machine is an ESP32 and I see that a Micropython 1.14 build was released for the ESP32 only 3 days ago….

I agree that you do not need to patch; perhaps just document the dependen

[2021-02-21 19:09] maho commented on #2
I don't know if I should reopen this ticket, or create new - but I got this error right now, and I think it is not related to memory, because I'm using unix port.

However, micropython at esp32 gives the very same error message:

[code]

[2021-02-21 19:46] miguelgrinberg commented on #2
@maho: I forgot that with upip I have to prevent a wheel package from being uploaded. Try again now, I have removed the wheel files.

[2021-02-22 09:14] maho commented on #2
works, however I will switch to copying files manually :). At least for `microdot`.

Eg. I got this error now (not sure if it's ok or not, rather not):

[code]

[2021-03-23 20:18] kloknibor opened #17 "Example for using microdot_asyncio"
Hi,

thanks for the library! I am looking for a nonblocking webserver and found your project. I am pretty new to micropython though.

Would it be possible to get a small example of how to use microdot_asyncio so I can create a nonblocking web server?

Thanks in advance!

[2021-03-23 23:44] miguelgrinberg commented on #17
There isn't really big difference, the examples in this repository can be adapted simply by importing from `microdot_asyncio` instead of `microdot` and awaiting any methods that are coroutines. Here is the "hello" example ported to asyncio:

[code]

Your handlers can be async functions (if you need to await on any coroutines) or standard functions if you don't.

[2021-03-24 17:55] kloknibor commented on #17
Probably a stupid question but how do I do the following:

Keep listening for a connection on the specified port. When there is no connection just keep running some_other_code(), when there is a connection server the webpage from htmldoc and then as soon as it is served continue with some_other_code() ?

[2021-03-24 18:00] kloknibor commented on #17
Basically like this

[code]

[2021-03-24 18:02] miguelgrinberg commented on #17
The Microdot server takes control of your application when you call `app.run()`, this is in the style of the Flask framework for standard Python. If you want to do other stuff in parallel with this you can start async functions before calling `app.run()` and release control to the web server.

A better option would be to copy the code from the `run()` method and implement the server loop in a way

[2021-04-06 13:20] #16 closed

[2021-06-03 21:17] dubaleeiro opened #18 "Possible to redirect from a alias (app name) to the host as a IP?"
Hi,

Thanks a lot for the library, first of all. This is actually a question and not a issue _per se_, (sorry for that).

Instead of browsing for the ip adress of the host (like 192.168.x.y:5000), can I give a app name and get it redirected to the webserver (like http://appname.local)?

I looked up in some forums which are telling to include the "appname" to to "etc/hosts" file, which off course d

[2021-06-03 22:57] miguelgrinberg commented on #18
The name goes in the hosts file of the client, not the server. So this should be done in the computer in which you run the browser that connects to the device.

[2021-06-03 23:35] jonathanfoster opened #19 "Feature Request: Shutdown server"
I have a use case that requires I start and stop the app based on certain criteria. For instance, if wifi credentials are invalid, I start the app and provide an API for updating the credentials. Once the credentials are updated, I stop the app and connect to the access point. I also allow the user to enter setup mode manually, which then restarts the app. Currently, the only way to accomplish thi

[2021-06-03 23:43] miguelgrinberg commented on #19
Stoping the server is possible, but what do you mean by this:

I don't really understand what you mean here. This is a server, it is supposed to run forever, or at least expected to stay up for a long time. What do you mean by "existing event loop" here? Is this a reference to the asyncio event loop? Because that is already supported.

[2021-06-03 23:50] jonathanfoster commented on #19
In my case, I have another task running that's monitoring wifi settings and once they're set, it attempts to connect. So I need to run the app as well as the monitor task. I actually implemented this in my project. Shouldn't take too long to add the code here. Give me a few minutes and I'll submit a PR and you can check it out.

[2021-06-04 03:16] jonathanfoster commented on #19
@miguelgrinberg Here's what I was referring to by [not running forever](https://github.com/miguelgrinberg/microdot/pull/20/files#diff-edbcc046172ca7c3f103cf6d5163b197eda59e35cd062b69299f5aded3e98e6eR111). `asyncio.run_forever` is blocking so nothing after the `run` call will execute. By using `asyncio.create_task` instead, then you can call `run` whenever you want (assuming `asyncio.run` is called

[2021-06-04 09:13] miguelgrinberg commented on #19
Okay, seeing the code in your PR helps me understand what you mean better.

I think you are confusing two different things. I understood that you want the ability to stop the server. What wasn't clear to me before is that you'd also like to run the server on an already running loop, instead of in a loop owned by the server.

Your PR mixes these two separate features, which is a problem, first beca

[2021-06-04 10:31] dubaleeiro commented on #18
Thanks a lot for your fast response, Miguel.

I managed to change the host name using `sta.config(dhcp_hostname='Hostname')` in a ESP32. For wathever reason I don't understand it does not work with ESP8266 :(

Now I don't need to use the IP adress anymore, just `Hostname.local:5000` !

[2021-06-04 10:31] #18 closed

[2021-06-04 12:34] jonathanfoster commented on #19
Gotcha. Yeah, a better way to describe it would be to run the server without blocking.

The key thing with stopping the asyncio server is that you need to cancel the `_serve` task to actually close the socket and release the port.

I haven’t used the threaded server yet. I’ll take a look as well.

By the way, thanks for creating Microdot. It’s hands down the best HTTP server for MicroPython.

[2021-06-04 14:05] #19 closed

[2021-06-04 15:15] miguelgrinberg commented on #19
@jonathanfoster I've added an async example now, including a shutdown option: https://github.com/miguelgrinberg/microdot/blob/master/examples/hello_async.py.

Let me know if this works.

[2021-06-04 20:42] dubaleeiro opened #21 "HTML multiple dropdown list returns only the last selected value"
Hi again,
I've noticed that HTML select/options list with multiple selection returns only the last selected value in the `request.form`:

[code]

Is this an expected/known behavior? Any hints on how to fix it? Thanks!

[2021-06-04 23:24] miguelgrinberg commented on #21
I never got around to implement duplicate query or form values, as I haven't needed them myself. I'll look into it.

[2021-06-05 11:27] #21 closed

[2021-06-05 17:21] jonathanfoster opened #22 "Error installing 'microdot-asyncio': , packages may be partially installed"
I tried to install microdot-asyncio 0.4.0 and got the following error:
[code]

Looks similar to https://github.com/miguelgrinberg/microdot/issues/4.

[2021-06-05 17:36] jonathanfoster commented on #22
Yup, looks like the wheel file issue again. The other versions only include a source file.

[code]

[2021-06-05 17:54] dubaleeiro commented on #21
Great, thanks !
Is it possible to use it with microdot_asyncio.py as well?

[2021-06-05 18:34] miguelgrinberg commented on #22
Oh yeah, I always forget. I use the same script to publish to PyPi for all my packages, this one is special in that it does not support the wheel. Sorry about that, I'll delete them in a second.

[2021-06-05 18:40] miguelgrinberg commented on #22
Okay, should be fine now. I need to find a definitive solution to this problem, because I don't like to have to suppress the wheel packages forever.

[2021-06-05 18:40] #22 closed

[2021-06-05 18:44] miguelgrinberg commented on #21
Yes, both have this now. Note that you will need to use the `getlist()` method to get your options:

    selections = request.form.getlist('weekdays')

[2021-06-06 10:38] dubaleeiro commented on #21
Thanks !
Any hints on how to solve this error, please?
`AttributeError: 'dict' object has no attribute 'getlist'`

[2021-06-06 10:50] miguelgrinberg commented on #21
@dubaleeiro did you upgrade to the latest version? I'm just now about to publish it to PyPI, the change was only here in the main branch until now.

[2021-06-06 10:54] dubaleeiro commented on #21
Yes, I have copied both microdot.py and microdot_asyncio.py files to my ESP32 ports and made a new build. I will double check it if it really worked then.

[2021-06-06 11:06] miguelgrinberg commented on #21
@dubaleeiro check if there is a `MultiDict` class in your micropython.py file. If you have that, then I guess I missed some use case.

[2021-06-06 11:22] dubaleeiro commented on #21
There was a problem with my build, now I see the `MultiDict` class in the `micropython.py` file. Unfortunately I came across a different problem when testing the `hello_async.py`:

`AttributeError: 'Server' object has no attribute 'task'`

Details:
`Starting async server on 0.0.0.0:5000...
Traceback (most recent call last):
  File "<stdin>", line 40, in <module>
  File "uasyncio/core.py", line 1,

[2021-06-06 11:37] miguelgrinberg commented on #21
This looks like a problem with your uasyncio library. You may want to make sure that you have all the files for this package, and that they all come from the same (latest) version.

[2021-06-06 12:53] dubaleeiro commented on #21
I am very intrigued by this problem... I have cloned the micropython repository (with asyncio off course) and the error persists.

I have also noticed you haven't changed the `microdot_asyncio.py`, right? The normal webserver based on `microdot.py` works fine.

[2021-06-06 15:48] dubaleeiro commented on #21
Unfortunately I could not trace-back the problem by looking at the asyncio standard libraries. That has obviously to do with the fact I am just a beginner in Python...
I have therefore opened the following [issue](https://github.com/peterhinch/micropython-async/issues/63).

[2021-06-06 17:00] miguelgrinberg commented on #21
I'll take another look later today. Maybe I did forget to change something in the async version.

[2021-06-06 19:15] miguelgrinberg commented on #17
I have added an asyncio example now.

[2021-06-06 19:15] #17 closed

[2021-06-06 19:15] miguelgrinberg commented on #21
@dubaleeiro Give the code another try. I've added a workaround for this bug.

[2021-06-06 22:05] dubaleeiro commented on #21
Sorry, unfortunately the error persists:

`Starting async server on 0.0.0.0:5000...
Traceback (most recent call last):
  File "<stdin>", line 40, in <module>
  File "uasyncio/core.py", line 1, in run
  File "uasyncio/core.py", line 1, in run_until_complete
  File "uasyncio/core.py", line 1, in run_until_complete
  File "<stdin>", line 37, in main
  File "microdot_asyncio.py", line 165, in start_se

[2021-06-06 22:32] miguelgrinberg commented on #21
@dubaleeiro you haven't updated microdot_asyncio.py to the latest from this repository. Line 165 (as shown in your error) corresponds to the old version. My change moved the lines, in the current version line 165 is a while loop, not a line that could cause this error now.

[2021-06-06 23:04] dubaleeiro commented on #21
Indeed - I got confused with my custom builds, I am sorry.

Now it works like a charm and I can get all multiple elements from the drop-down list. Thank you very much !!

[2021-08-11 04:30] dxf19 opened #25 "Making the Response reason available to the application"
I recommend a simple enhancement to the Response class to allow for specification of the _reason_.  Currently it hard-codes this to "OK" for a 200 response and N/A for everything else.  For example, if returning a 400 response, it would be more useful for the application to specify _why_, where there is provision for it, instead of having to put this in the response body.  It is apparently quite v

[2021-08-11 09:29] #25 closed

[2021-08-11 09:29] miguelgrinberg commented on #25
Thanks for the suggestion. I have implemented it, more or less as you suggested.

[2021-08-11 10:54] bulletmark commented on #25
Thanks both of you for this. I am developing a service which returns 400 code for various client side errors so I was returning the error text in the body. I was wondering why Chrome developer console always showed only a red N/A with the error and I had to dig down and expand out the response body to see the actual text. Now the error text formats nicely in red within the console!

[2021-09-18 04:26] bulletmark opened #26 "Request fails when uploading large files"
I believe this issue is somewhat analogous to issue #3 and #5. I am trying to upload a large file from my browser [using a simple XMLHttpRequest()](http://pedrolobito.com/demos/html5_file_upload) to an ESP32 running async Microdot. However, the code dies immediately within `Request.create()` at the line `body = await client_stream.read(content_length)` because it is trying to immediately allocate

[2021-09-18 13:47] miguelgrinberg commented on #26
The current version of the request object does not support large files, because as you've seen, loads the response into memory. I'm not sure I want to create something as elaborate as the request.files in Flask, but I can look into exposing the stream to the endpoint so that it can consume it without an intermediate memory storage.

[2021-09-18 22:37] bulletmark commented on #26
Thanks. Note this is not an esoteric request as I want to implement wifi OTA firmware image update via my web interface which I guess would be a common desire among MicroPython Microdot users. So I don't actually need to be able to write to the file system. I want to write blocks directly to the [ESP32 Partition](https://docs.micropython.org/en/latest/library/esp32.html#esp32.Partition.writeblocks

[2021-09-24 08:06] UnexpectedMaker opened #28 "Is there a way to do a "catchall" for captive portals?"
Hey @miguelgrinberg - I'm loving microdot, thanks heaps for making it.

Is there a way to do a catchall route? captive portals have so many different endpoints on different OS versions, and when I was using tinyweb, it had a catchall that enforced any url that didn't have a route specified to go to a specific route of my choosing.

Thanks.

[2021-09-24 09:27] miguelgrinberg commented on #28
Yes! This is done like you do it in Flask, with the `path` URL pattern. Here is a quick example:

[code]

[2021-09-24 09:46] UnexpectedMaker commented on #28
Ahh, that works great, thanks!
I'm a Django guy... not flask, so I have never seen that format before :)

[2021-09-24 09:46] #28 closed

[2021-09-27 01:30] zidingz opened #29 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@ktg9) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to

[2021-09-27 12:58] miguelgrinberg commented on #29
Thanks for not disclosing the problem publicly. I have added my security policy now.

[2021-09-27 12:58] #29 closed

[2021-09-29 02:59] joesilva01862 commented on #2
Hi Miguel. I just saw this page now.

My attempt to install indicates that it was successful, like this:

Installing to: /lib/
Warning: micropython.org SSL certificate is not validated
Installing microdot 0.7.2 from https://files.pythonhosted.org/packages/31/ed/f080294e631725f84acd0317e162fa81f6de00c7590e9a7ab7b89c2262e3/microdot-0.7.2.tar.gz

But, just by looking under the /lib folder on my ESP32

[2021-09-29 07:09] miguelgrinberg commented on #2
@joesilva01862 When you install microdot you end up with two files, microdot.py and microdot_asyncio.py. There is no microdot folder. So what you are describing seems correct, as long as your /lib directory is in the import path in your micropython installation.

In any case, what I recommend is that you put these two files in your main project directory instead of in /lib. And see if that works.

[2021-09-29 15:02] joesilva01862 commented on #2
Miguel, thank you for your reply.
With your help, I got a little farther, but still no success.
When run this test program below, I get the message below. Line 824 from microdot.py is this one here:
res = f(req, **req.url_args)

Any idea how to move beyond this error? Thanks.
Joe

Program:

from src.microdot import Microdot
import network

#-------------------------------------------
# configure t

[2021-09-29 15:59] miguelgrinberg commented on #2
@joesilva01862 Are you used to Flask? A design difference in Microdot is that there is no app/request contexts. The request object is passed as an argument to your view functions. Your `index()` function needs to accept `request` as an argument.

[2021-09-29 17:28] joesilva01862 commented on #2
@miguelgrinberg It's working now. My appreciation for your great work.

[2021-10-01 07:13] pfctdayelise opened #30 "Access log of all requests and responses"
It would be helpful (especially during development) to be able to log requests and responses, similar to apache/nginx/uwsgi logs. Probably using Common Log Format would be handy.

[2021-10-01 07:21] miguelgrinberg commented on #30
The `run()` method has a `debug` argument that you can set to `True` to log requests and responses. Documentation: https://microdot.readthedocs.io/en/latest/api.html#microdot.Microdot.run.

[2021-10-20 00:01] dpgeorge opened #31 "Reading body of request is not guaranteed to read entire body"
The code used to read the body of the request is:
[code]
But `asyncio.Stream.read(n)` is not guaranteed to read exactly `n` bytes, it may return a shorter read than that.  In such a case only part of the body is read.

Is this expected behaviour of microdot (to not always read the whole body), or is it a bug, which can be fixed by using `readexactly`?

[2021-11-03 22:36] joesilva01862 commented on #2
Hi Miguel. I've been making great progress with my side project on ESP32. The question now is how would I go about creating an SSL-like request/response with Microdot?
The data coming from the client and the server's response would immensely benefit from encryption.

Thanks.
Joe

[2021-11-04 10:25] miguelgrinberg commented on #2
@joesilva01862 I have not implemented SSL encryption for the web server. I think this would just require some changes in the `run()` method, but haven't investigated fully.

[2021-11-05 06:00] steve1aa commented on #26
I have the same situation. is there a workaround? I am using the master branch.

[2021-11-08 04:58] pfctdayelise commented on #30
Thank you, somehow that escaped my attention.

[2021-11-08 04:58] #30 closed

[2021-11-15 03:04] stevenbell opened #32 "Affinity for any particular templating library?"
Thanks for creating Microdot!  I teach an introductory engineering class with MicroPython and the ESP32, and Microdot's minimalism is perfect for me.

Do you have a suggested or preferred templating system for microdot?  (My experience is with Flask/Jinja, and I see that picoweb is designed to work with utemplate).  Or is part of the point that it'll work with whatever template system I want?

[2021-11-15 10:14] miguelgrinberg commented on #32
Yeah, the idea is that you can use any templating system that you like, Microdot does not impose a choice on you. The utemplate engine should work well.

[2021-11-15 20:39] #32 closed

[2022-01-01 16:03] ser commented on #26
It's also important to me, as the files served from my audio microcontroller can be large.

[2022-01-22 19:23] jej commented on #19
After few months away, I am happy to discover the `start_server()` method. I had the same need as @jonathanfoster to run the webserver in parallel to another existing loop.

I would just comment about the name `start_server`, that is not semantically correct to me. We don't have `run_server` or `shutdown_server` methods because class context is the server already.

I use it this way:

[code]
If `M

[2022-01-22 19:37] jej commented on #19
PS:
The way it's done in tinyweb (https://github.com/belyalov/tinyweb/blob/33d73c90f005cfd3423affe358cad0f13c37728f/tinyweb/server.py#L674), with a `loop_forever=False` parameter:

[code]

[2022-01-22 23:25] miguelgrinberg commented on #19
@jej I have updated the hello_async.py example to use `app.run()` to start the server, which is more concise. Not sure about the shutdown failure, if you have a method I can use to reproduce it I can debug it here.

[2022-01-22 23:37] jej commented on #19
I am not sure we speak about the same thing. My comment was about the way it's implemented, not the use case.

[2022-01-22 23:45] miguelgrinberg commented on #19
I'm sorry but I don't understand. You said you didn't like the name `start_server`, you didn't say anything about implementation. The `run` method is actually a simpler method to start that maybe you prefer. I'm not going to change `start_server` as that is used in asyncio servers beyond this package.

[2022-01-22 23:50] jej commented on #19
Yep, I just spotted that `server.start_server()` on a server object is not really useful. Maybe `server.start()` is ok... like you did for `server.run()`, `server.shutdown()` etc...

And the tinyweb implementation avoid the separate method for the same think, with an additional arg.

[2022-01-22 23:56] miguelgrinberg commented on #19
@jej it's just a name, and many other asyncio servers use it, so I'm not going to change it. Sorry.

[2022-01-22 23:58] jej commented on #19
Ok, no problem. I thought it was independant of anything else, just a choice to solve the first request above.

Thanks.

[2022-01-23 00:00] miguelgrinberg commented on #19
There's a lot of stuff in this thread, I'm sorry but I don't know what "request above" you refer to. If you have an issue with this package beyond naming things, please open a separate issue.

[2022-01-23 00:07] jej commented on #19
If I understood jonathanfoster's request (ie. the first request above): "It would also be nice to leverage the existing event loop instead of running forever."
But we can stop here, no problem.
Have a good continuation.

[2022-01-23 00:10] miguelgrinberg commented on #19
@jej `start_server` is a coroutine. You can await it, and that will start the server and return when the server is shutdown. Setting aside the name, isn't that exactly what the OP asked? This was done specifically per this request.

[2022-01-23 00:36] jej commented on #19
Sorry, this is a dialogue of the deaf. I prefer to delete my messages to avoid confusion for other users. Forget it, it's not a problem.

[2022-01-23 10:01] miguelgrinberg commented on #19
@jej sorry you feel that way, but as you say, it's not problem. In that we agree. Keep the following in mind:

- This project is open source. If there is anything you don't like, you are welcome to change it in your copy. If you like `app.start()` better than `app.start_server()`, by all means edit your copy and make it be the way you like.
- If you like the way picoweb starts the server, then eit

[2022-01-23 13:30] jej commented on #19
Don't worry, no problem. It was just a small remark at the beginning, but the misunderstanding generated unnecessary noise. Sorry for that, maybe I was no clear enough. I purge the thread because no reason to pollute this PR, and don't want to cause more off topic answers. Cheers.

[2022-01-25 02:35] steve1aa commented on #14
Same issue, is it possible to have a hot fix?

[2022-01-25 10:24] miguelgrinberg commented on #14
I you feel like contributing this fix I'll be happy to review it and merge it. If not, I am planning to work on several outstanding issues (this one included) in the near future, so there will be an update within the next month or two.

[2022-02-03 14:02] beyonlo opened #34 "Feature request: secure WebSocket (wss)"
Hello!

Congratulations for the great project.

I would like to know if you have intention to support secure WebSocket (use SSL over WebSocket) on the Microdot.

Thank you.

[2022-02-03 14:38] miguelgrinberg commented on #34
SSL and WebSocket are completely independent features. I have the intention to investigate adding SSL support. I wasn't considering websocket, but it's not out of the question either. My concern is that with each addition the size of the package will continue to grow and the lower-end microprocessors will not be able to run anymore, so I'll have to think about doing this in a way that doesn't affe

[2022-02-03 18:37] beyonlo commented on #34
Well, the microdot webserver/framework do not support HTTPS (SSL over HTTP) right? I think, even lower-end microcontrollers (like as ESP32-C3) would be great a secure connection over browser to configure/operate. So, if you add SSL on HTTP, the websocket can be the same way - I think that SSL is what will use more memory, right? Well, already exists a official module `uwebsocket`  used by REPL. He

[2022-02-03 19:02] miguelgrinberg commented on #34
I believe uwebsocket does not work with uasyncio. But in general I agree, I'm open to add support for both SSL and WS.

[2022-02-03 19:43] beyonlo commented on #34
Hey @miguelgrinberg

That's will be great :)

I see that you have two microdot on` /src/`:
`microdot.py` for people that want to use with thread
`microdot_asyncio.py`  to works with uasyncio/asyncio

Well, just as suggestion, maybe a option is have more options, so user can to choose what want:
`microdot_https.py` Secure WebServer
`microdot_https_asyncio.py` Secure WebServer uasyncio/asyncio
`micr

[2022-02-16 05:04] dpgeorge commented on #14
Looks like this was fixed in e16fb94b2d1e88ef681d70f7f456c37ee9859df6

[2022-02-16 05:08] dpgeorge commented on #26
I would also like this feature, to be able to stream in large files in a request.

Eg: if the content-length is larger than some threshold then set `request.body = client_stream`.

Also if the content-length is not given then there could be a body, in which case `request.body = client_stream` would also be useful.

[2022-02-16 10:49] miguelgrinberg commented on #14
Yes, thanks.

[2022-02-16 10:49] #14 closed

[2022-02-16 23:00] JohannesMaierhofer opened #35 "Arduino RP2040 nano connect - SOL_SOCKET"
Running microdot on the official Micropython 1.18 firmware results in a error on line:
`self.server.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)`
Unfortunately, commenting out this line does not help.

[2022-02-16 23:06] miguelgrinberg commented on #35
Without the error I cannot really tell you what the problem is.

[2022-02-16 23:08] JohannesMaierhofer commented on #35
sorry, here is the full output. I could also imagine that it is more an issue on the port of Micropython to the RP2-Family.
[code]

[2022-02-16 23:19] miguelgrinberg commented on #35
The error is in the `start_server` function of the `uasyncio` module. Not sure what kind of networking the MicroPython builds for this device have, but it appears `uasyncio` isn't compatible with it at this time.

[2022-02-16 23:25] JohannesMaierhofer commented on #35
Thanks for your reply. I already tried with the threaded version, but had no luck there too. I could start the server, but the first request (using curl) kicked the following issue:

[code]

The minimum example-code is:
[code]

I would love to use your package on the RP2040 connect as it is exactly what I was searching for.

[2022-02-16 23:54] miguelgrinberg commented on #35
Unfortunately I have nothing comparable to your device to test on.

[2022-02-17 15:10] JohannesMaierhofer commented on #35
Can I provide you anything useful? Trying something to give you a clue what could go wrong?

[2022-02-17 15:16] miguelgrinberg commented on #35
You should ask the MicroPython people, because the build that you are using is missing things. This is unlikely to be a problem with this project.

[2022-02-18 17:30] #26 closed

[2022-03-08 18:46] bhavesh-k opened #37 "ESP32 "Connection Refused" by server"
Wrote a simple "hello world" server as shown in the example, but getting "Connection refused" error when trying to connect. I tried from multiple web browsers as well as using `curl` on the command line.

I am running on the Adafruit ESP32 ['Huzzah32'](https://www.adafruit.com/product/3405) board

Here is the code:

[code]

Output of `curl`:
[code]

[2022-03-08 18:48] miguelgrinberg commented on #37
The default port for the web server is 5000, not 80.

[2022-03-08 18:53] #37 closed

[2022-04-29 19:53] beyonlo opened #39 "TODO for new features!"
Hello!

Do you think to implement new features? If yes, what do you thing about to create a TODO and/or a roadmap for the new features?

Thank you very much!

[2022-04-29 22:22] miguelgrinberg commented on #39
This project does what I need, so I don't personally need to add more features. Always open to suggestions, though.

[2022-04-29 22:22] #39 closed

[2022-04-30 17:08] beyonlo opened #40 "Feature request: Websocket support"
Hello!

As you [wrote here](https://github.com/miguelgrinberg/microdot/issues/39)  that are opened to suggestions for new features, I have just one that I consider very important: the Websocket support.

My goal is to create a simple web interface for the ESP32, STM32  to configure some sensors (like as temperature, humity, etc) and monitoring (events, alarms) it real time. Well, with Websocket I

[2022-04-30 17:39] miguelgrinberg commented on #40
Duplicate of #34, also by yourself. Closing.

[2022-04-30 17:39] #40 closed

[2022-05-01 12:29] beyonlo commented on #40
Hello @miguelgrinberg

Ohh, I'm sorry, I forgot that I already did that. I was just looking for the opened issues, and that request was at he closed issues.

Please, if you in some moment think to start a Websocket support for the Microdot, let us to know :)

Thank you very much!

[2022-05-06 00:08] beyonlo opened #41 "Local use of CSS on the gpio.html example"
Hello!

Maybe this is a very basic question, but I have no idea how is possible to do that.

I was running the **gpio.html** example. It is very good, but I would like that all CSS `bootstrap.min.css` stay inside microcontroller flash, how is possible?

I downloaded the `bootstrap.min.css` and copied into microcontroller flash, in the same directory where there are the `gpio.py` and `gpio.html`, a

[2022-05-06 08:28] miguelgrinberg commented on #41
Microdot does not have default support for serving static files, you have to implement this yourself. If you only have one file that you want to serve, then you can add a custom route for it:

[code]

And then in your HTML you can use something like this:

[code]

[2022-05-07 18:27] AndyThirtover opened #42 "microdot serving over Ethernet rather than WiFi on ESP32"
I've been enjoying microdot for some time.
Today I've tried implementing an existing project on a generic ESP32 with an Ethernet interface.
As soon as I get to:
[code]
The Ethernet interface stops responding to ICMP ping.

As a quick test I configured the wifi interface and microdot happily serves over that:
[code]

Is there anywhere I should be looking?

Regards

Andy

[2022-05-08 07:02] miguelgrinberg commented on #42
I'm not sure. Microdot does not do anything that is specific to WiFi. Is your Ethernet interface compatible with the network stack in MicroPython? If it requires a custom library then you'll need to make modifications to Microdot, I suppose.

[2022-05-10 17:58] beyonlo commented on #41
Hello @miguelgrinberg

That works fine, thanks! But there is a problem: everytime that I click on Button `Read`, `Set Low` and `Set high`, the CSS is loaded again - that turn usability a bit bad/slow. Is there a way to load just once the CSS?

Thank you in advance!

[2022-05-10 22:12] miguelgrinberg commented on #41
You can add a `Cache-Control` header to the response so provide hints to the client regarding how long to cache the file for. But ultimately it is up to the client to decide when to request the file again and when to take it from the cache.

[2022-05-17 12:32] yura50525 opened #43 "Error while import microdot"
I am using node mcu esp8266.
When I import microdot lib there is error:

`ImportError: can't import name Microdot`

[2022-05-17 12:39] beyonlo commented on #43
@yura50525

That looks like that the `microdot.py` and `microdot_asyncio.py` does not in the same directory that your `app.py` that you are testing. Please look at the https://github.com/miguelgrinberg/microdot/tree/main/src about those files.

And if you can, please, paste your entire terminal commands for better help, not just the output.

[2022-05-17 16:06] miguelgrinberg commented on #43
Try the import in the REPL. Does it work there?

I'm not sure if this is the problem or not, but I think it is odd to use `boot.py` for your code. Shouldn't you use `main.py` instead and leave `boot.py` alone?

[2022-05-17 16:31] yura50525 commented on #43
@miguelgrinberg

I already try to import in REPL but there is same error.

I also tried to use main.py instead of boot.py there is an error to.

I think the  library file I download is broken or i don't upload it to esp8266 right.

[2022-05-17 16:36] yura50525 commented on #43
Maybe you have another source from where library can be downloaded?

[2022-05-17 17:52] miguelgrinberg commented on #43
The files in this repo are not broken. If these did not work there would be lots of reports of problems, and yours is the only one.

This is actually easy to troubleshoot on your side. Open microblog.py and see if there is a `Microblog` class in it. That is what you are importing. If micropython says this symbol does not exist in the file, then you shouldn't be able to find it, right?

[2022-05-17 18:40] yura50525 commented on #43
Right, thanks for your help😄

If I find a solution to my problem I will leave new comment.

[2022-05-27 22:03] Nixellion commented on #43
I'll have to +1 to this problem. I get the same error on a Wemos D1 Mini.

[2022-05-27 22:15] miguelgrinberg commented on #43
@Nixellion What is the file structure in your device? Please include all folders and files.

[2022-05-27 22:32] Nixellion commented on #43
@miguelgrinberg Tried a clean project with just `boot.py, main.py, microdot.py` in it. Removed everything from the board, uploaded.

[code]

boot.py
[code]

`main.py` is empty in this case.

[2022-05-27 22:41] miguelgrinberg commented on #43
@Nixellion It's an out of memory error. You may need to compile or freeze the file and maybe it'll fit.

[2022-05-27 22:54] Nixellion commented on #43
@miguelgrinberg I tried precompiling pyc files, and placing them on the board. Without the `.py` version of microdot it gives this:

[code]

But I'm not sure if this is the correct way of compiling it for an esp? What did you mean when you said to compile or freeze it?

[2022-05-27 23:08] miguelgrinberg commented on #43
You ended up with a `.pyc` file? Where did that come from? Should have been an `.mpy` file. See https://docs.micropython.org/en/latest/reference/mpyfiles.html.

[2022-05-27 23:22] Nixellion commented on #43
Tried to precompile with mpy-cross, but I guess I need to do more research into how to properly use it, got:

[code]

Making a custom firmware build sounds like a hassle, but I'll look into it as well if I'll have time.

I guess I'll use my own microserver for this project for now.

[2022-05-27 23:28] miguelgrinberg commented on #43
Maybe you used an mpy-cross that does not match the MicroPython firmware that you have on your device.

Another thing I just thought of is that you can also use an older release of microdot. Something like the 0.4.0 release, which has less stuff so is smaller.

[2022-05-28 10:39] Nixellion commented on #43
I'll try that when\if I have time.

Wemos d1 mini (and I think most other esp8266 boards) have 33K RAM available. Microdot.py is 32K. Maybe there's some relation there :)

[2022-06-03 04:56] zumoshi opened #44 "Support streaming contents"
Hello

I wanted to use [SSE](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events), However, that requires leaving the connection open and being able to push/flush multiple responses for the same request.

The way Flask has implemented this feature is to allow a generator as the response body. (see: [Streaming Content](https://flask.palletsprojects.com/en/2.1.x/patterns/streaming/))

[2022-06-03 08:26] miguelgrinberg commented on #44
I'll look into it. You are correct, with the recent changes I've made this should be possible.

[2022-06-04 14:55] #44 closed

[2022-06-04 15:45] miguelgrinberg commented on #5
This should work fine now, since files are streamed in chunks.

[2022-06-04 15:45] #5 closed

[2022-06-05 01:47] zumoshi commented on #44
Thanks for the speedy update. It works great.

Also learned something new from you, didn't know `multipart/x-mixed-replace` was a thing.

The only issue I have is getting traces on console everytime a connection is aborted, which happens more often with long running connections such as SSE.

[code]

I can see in the diff that you already have some logic to suppress `errno.ECONNABORTED`. but it see

[2022-06-06 07:00] steveli777 opened #45 "Question: How to handle CORS in Microdot?"
Same to the title, I got the 404 error while the Microdot handled the OPTIONS request.
Is there a way to enable CORS in Microdot or bypass it?

[2022-06-06 09:46] miguelgrinberg commented on #45
@steveli777 I would imagine the error that you get is a 405, not a 404?

Microdot does not handle the OPTIONS method, but it probably should. At this time your only option is to handle it yourself by returning the `Allow` request for the supported methods, and also any necessary CORS headers per your needs.

[2022-06-06 10:08] steveli777 commented on #45
The error I got is 404. And it is a preflight request (OPTIONS).

I found a workaround to handle the OPTIONS, not perfect, but it works.

`
def not_found(req: Request):
    res = None
    if req.method == 'OPTIONS':
        res = Response(res)
        res.headers["Access-Control-Allow-Origin"] = '*'
        res.headers["Access-Control-Allow-Methods"] = '*'
        res.headers["Access-Control-Allow

[2022-06-06 22:49] miguelgrinberg commented on #45
You need to add `OPTIONS` to the list of supported methods.

[code]

This will prevent the 404, and if you have a before request handler, it will be invoked before your endpoint.

[2022-06-06 23:22] steveli777 commented on #45
Aha, thanks for the suggestion.

[2022-06-09 21:26] RodriguesBruno opened #46 "HTML Templates"
Hello Miguel, I've come across with your project and I was wondering if you are considering adding template system (jinja2) to it.
Thank you

[2022-06-09 22:14] miguelgrinberg commented on #46
The problem is that Jinja will not work with MicroPython, which is the platform most people use Microdot on. If you are using CPython you should be able to add Jinja and use it directly, in the same way you can use utemplate if you are on MicroPython.

[2022-06-09 22:39] RodriguesBruno commented on #46
I'm also using on microPython but I was not sure if Jinja was supported on it.
Thanks for confirming that Miguel.

[2022-06-09 22:39] #46 closed

[2022-06-23 07:55] yuanyanhui opened #47 "Question: run asgi and wsgi app"
Are the two examples supposed to be run on a computer os terminal? To run on ESP32, do I need to  upip install uvicorn and gunicorn, and run the app in Python code?

[2022-06-23 08:38] miguelgrinberg commented on #47
There are no ASGI or WSGI web servers for MicroPython, at least none that I know. These are examples that can only run on CPython.

[2022-06-23 10:09] yuanyanhui commented on #47
I searched a little and found nothing either. Thanks for making this clear.

[2022-06-23 10:09] #47 closed

[2022-07-15 15:23] WaGi-Coding opened #48 "Stops working when idling a bit?"
Hello, i've the simple hello world example running atm. using uasyncio on an ESP32-WROOM from AZ-Delivery.

My problem is that it works fine first, but when i let it idle a bit and try to open the page again, it is just stuck in loading the page and nothing happens anymore.

Used micropyserver first without this issue, so i might miss something related to this library or maybe "u"async is the prob

[2022-07-15 15:51] miguelgrinberg commented on #48
I'm not sure what the problem might be. I guess I would make sure I have the latest uasyncio library, in case that is where the problem comes from.

Have you tried using the sync server option? That would be more in line with the other web server that you used and would provide another data point to determine if this is an async issue or something more general.

[2022-07-15 16:36] WaGi-Coding commented on #48
okay i currently have another problem, now i wanted to make changes but it hangs entirely, i cannot even erase flash anymore with esptool o.O
I'll try your suggestions on a new esp32, maybe this one was about to die.

[2022-08-06 00:05] APCBoston commented on #48
I'm having a similar issue.  First request gets handled correctly, but second and subsequent requests time out with no sign that the app is receiving them:

[code]
Sending a GET request to the server via browser or curl, I get the correct "Hello, World!" response on the first go, as well as the expected output to stderr... but then if I immediately send a second request... nada.  Times out after 6

[2022-08-07 14:22] miguelgrinberg commented on #48
@APCBoston This is probably unrelated to the original issue, but I have tested your code on a Pico W and was able to reproduce and fix the problem. The issue is a misunderstanding on my part on how the `_thread` module works. In the Pico, you can only start a single background thread, and any more attempts return an error. I have now removed the invalid usage and Microdot will work in synchronous

[2022-08-07 14:57] miguelgrinberg commented on #35
Microdot now defaults to running requests synchronously, so this shouldn't be a problem anymore. Please give the latest release of microdot.py a try and reopen if you still have problems.

[2022-08-07 14:57] #35 closed

[2022-08-07 14:58] miguelgrinberg commented on #41
A `static.py` example has been added to show how a Microdot application can serve static files from a directory.

[2022-08-07 14:58] #41 closed

[2022-08-07 14:59] #42 closed

[2022-08-07 15:01] #43 closed

[2022-08-07 15:01] #45 closed

[2022-08-07 15:02] miguelgrinberg commented on #48
I have released version 1.0 of Microdot with many new features and improvements. Please reopen if there are still problems with this.

[2022-08-07 15:03] #48 closed

[2022-08-11 16:35] AndyThirtover opened #49 "Microdot serving over Ethernet (Same Switch)"
Hi - I wonder if you can shed some light on an issue I've found.

I have Microdot running on a W5100S-EVB-Pico which is a RP2040 with built-in Ethernet.

Here's the stripped down start-up:

`try:
    import uasyncio as asyncio
except ImportError:
    import asyncio
import network
from microdot_asyncio import Microdot, Response
from web_gen import *
#from watchd import *

"""
async def main():

[2022-08-11 17:29] miguelgrinberg commented on #49
I don't see why the request coming from the same switch would make a difference, and also why only the css file is affected. Any ideas on why that happens?

Also as a side note, why does the css file has its own route and all other static files have a generic endpoint?

Finally, note that the static file endpoint that you are using does not have any protections regarding returning internal files s

[2022-08-11 17:48] AndyThirtover commented on #49
Fair Play,  I've been bashing it around all afternoon trying to work out what the difference between the project on an ESP32 and on the RP2040.    I'm trying to built a replacement for the SitePlayer so I'm probably spike this on a few other platforms.
I was trying to find why the style sheet was not served on the first load.

[2022-08-12 12:33] AndyThirtover commented on #49
I refactored the code to serve from static, removed the debug prints and set `debug=False` on the app start.   I also tried the nightly build of MicroPython 1.19.1 ( https://micropython.org/resources/firmware/W5100S_EVB_PICO-20220811-unstable-v1.19.1-273-g6c67fbc28.uf2 )
Sadly the issue is still present, although performance is great.    I guess the Ethernet driver does not past on the second requ

[2022-08-12 12:49] miguelgrinberg commented on #49
@AndyThirtover Make sure you are using the latest microdot.py from this repo. I wonder if this is related to an issue I fixed recently related to multithreading. The RP2040 can only spawn one thread, so multithreading isn't really useful from a web server perspective. The current version runs multiple requests back to back instead of in threads.

[2022-08-14 16:02] miguelgrinberg commented on #34
Update: WebSocket support is coming in the next release of Microdot. Will investigate SSL support after that.

[2022-08-15 13:23] miguelgrinberg commented on #34
You can already serve static files with Microdot. I have added an example of how to do this just a few days ago: https://github.com/miguelgrinberg/microdot/tree/main/examples/static.

And for websocket it will be just a normal route. This isn't finished code, but if you want to have a look, here is a WebSocket echo example: https://github.com/miguelgrinberg/microdot/blob/websocket/examples/websock

[2022-08-15 14:30] beyonlo commented on #34
Excellent! That will solve the use case to serve images, `JQuery` lib and others kind off `static` files! :)

Great, very clean with `uasyncio`! Congrats!

On the next `Microdot` release, do you have plans do provide together to the `WebSocket Server` feature a HTML page (index.html) with an `WebSocket Client` example running on the browser? Like as a start point (ready to go)!

As soon the next v

[2022-08-15 14:34] miguelgrinberg commented on #34
Here is one from another project of mine: https://github.com/miguelgrinberg/flask-sock/blob/main/examples/templates/index.html. I did not test it, but I think it should directly work with the echo example I linked above.

[2022-08-15 16:35] beyonlo commented on #34
Very good. I will test that, thanks :)

To support SSL on HTTP Server and WebSocket Server will be amazing. I don't know if you know, but recently was created a ticket (micropython/micropython#8915) that has a relation with this feature on Microdot - maybe help.

[2022-08-16 14:59] beyonlo commented on #34
Hi @miguelgrinberg

I tested the `WebSocket` branch using this WebSocket client example (https://github.com/miguelgrinberg/flask-sock/blob/main/examples/templates/index.html) and works very well!

However after I finished the test, I observed an error on the terminal. That error do not stopped the send/receive data from the browser (`WebSocket Client`) test, and I can't to reproduce that error any

[2022-08-16 18:43] beyonlo commented on #34
@miguelgrinberg I did tests of that `WebSocket` example above (`websocket_async.py`) to check the compatibility with different browsers.

**Works:** Chrome, Chromium, Microsoft Edge and Opera.
**Do not works:** Firefox (errors below).

I have not tested others browsers, just these above.

**Terminal output for Firefox test:**
[code]

**Firefox browser output:**

![firefox](https://user-images.gith

[2022-08-16 18:47] miguelgrinberg commented on #34
Thanks, this is useful feedback.

[2022-08-17 14:30] beyonlo commented on #34
Hello @miguelgrinberg

I did some more tests.

1. More browsers tested: `Chrome for Android` and `Safari for Iphone` (`IOS`). Both works.
2. I'm using `ESP32-S3` with `MicroPython 1.19.1`, and all tests above (in others reply) was done via WiFi, using `STA` mode. Now I tested the `ESP32-S3` as `AP` mode, and sometimes (not always) show this errors:

**Ps1**: one kind of error here is the same foun

[2022-08-17 15:24] miguelgrinberg commented on #34
Looks like all the errors are caused by not handling the ECONNRESET error. I did not notice this error in my tests, in might be that they are used by the ES32 implementation, which I did not test. I'll look into handling this error properly.

[2022-08-18 19:08] Carglglz commented on #34
Hi @beyonlo @miguelgrinberg
As a part of a ongoing development effort in [#8968](https://github.com/micropython/micropython/pull/8968) to bring `SSLContext` to MicroPython, I've done some test with microdot and so far the `_thread` version works (I've done tests in UNIX and ESP32 ports), using python requests (with `verify=False` since I'm using self-signed certs) and curl.
Here is the diff to `mi

[2022-08-21 16:25] miguelgrinberg commented on #34
@beyonlo I have put some fixes based on your reports:

- Firefox should work now
- the `ECONNRESET` error is (hopefully) handled properly
- an `index.html` file is now served in all the WebSocket examples when you connect to the root URL
- preliminary support for websocket connections in the test client (incomplete, more work is needed still)

Let me know if things look better now.

[2022-08-21 16:28] miguelgrinberg commented on #34
@Carglglz Thanks for doing this work! This is going to make my work a lot easier when I attempt to do this. Sounds like I might need to use the older (current) SSL implementation though, since it is unclear when or if yours is going to be merged, correct? I also want to see if it is possible to put the SSL support in a separate extension, as I'm doing with WebSocket and other features, so that it

[2022-08-22 00:04] beyonlo commented on #34
Hello @miguelgrinberg

That's great!

I can to confirm that it works!

Yes, that old errors do not show anymore, thank you. But now I did two other tests and show these errors:

**1.** Killing the Browser after connected.

**Killing the Chrome on Android:**
**Ps:** the error happen every time that browser is killed.

[code]

**Killing the Chromium on Ubuntu:**
**Ps:** the error happen just some ti

[2022-08-22 09:23] miguelgrinberg commented on #34
@beyonlo I added fixes for the new errors. Thanks!

[2022-08-22 11:29] raven703 commented on #34
Confirm, that ECONNRESET has been fixed !
I`m using server side events in my project and it was spamming in local each time browser reloads page forcing Microdot to stop serve pages.
Now everything is fine, thank you :)

[2022-08-22 18:54] beyonlo commented on #34
@miguelgrinberg I confirm that are working without `ECONNRESET` errors.

Thank you!

[2022-08-23 17:25] beyonlo commented on #34
Hi @miguelgrinberg

Could you please to provide a simple example a bit different than [echo_async.py](https://github.com/miguelgrinberg/microdot/blob/websocket/examples/websocket/echo_async.py) using `asyncio` as well? I mean, where the `WebSocket Server` is capable to send data to the `WebSocket Client` without the `WebSocket Client` send a request (like as the echo example), and where the `WebSo

[2022-08-23 18:27] miguelgrinberg commented on #34
@beyonlo I don't have any examples, but all you need to do is store the `ws` objects for all your clients in some sort of data structure (maybe a dict), so that you can access them when you need to send something to one or more clients.

[2022-08-23 19:01] beyonlo commented on #34
@miguelgrinberg with this explanation now I understand how to do it - I will to try, thanks!

In my tests I found more errors. I don't know when that errors happened and I was no capable to reproduce. Note that the second error (`ENOTCONN`) is different from all others errors reported before.

[code]

[2022-08-23 19:09] cheeseshark opened #50 "Microdot, Micropython and Raspberry Pi Pico W"
I am attempting to use Microdot with Micropython v1.19.1-88-g74e33e714 on a Raspberry Pi Pico W.

When I attempt to import a class from the microdot.py file (from microdot import Microdot) I receive the following error:

**Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: no module named 'microdot.Microdot'**

When I import as a whole (import microdot) it import

[2022-08-23 19:21] miguelgrinberg commented on #50
No, this has to be something that is wrong on your side, since I've personally tested the Pico W recently.

Can you show me a directory listing with all the files that you have on your device, including their sizes? My guess is that your microdot.py is corrupted or invalid.

[2022-08-23 19:31] cheeseshark commented on #50
I'm using Thonny, I'm not sure how to show details on the file list, but I can show individual file properties.

I've attached a screen shot of the Thonny interface.
![microdot_error](https://user-images.githubusercontent.com/42447144/186249545-0431cbe3-35e2-44a2-9964-025fcc068857.jpg)

I downloaded the code, and unzipped it to a directory, then uploaded the microdot.py to the device using Thonny.

[2022-08-23 19:35] raven703 commented on #50
probably it's trying to import from microdot folder and not microdot.py file.

[2022-08-23 19:41] cheeseshark commented on #50
@raven703 that was it exactly!  Thanks raven703!

[2022-08-23 19:44] miguelgrinberg commented on #50
Oh, I see, so you put the microdot files inside a `microdot` folder. Then the import should have been:

    from microdot.microdot import Microdot

The first `microdot` is for your folder, the second is for the `microdot.py` file. It's better to move the files to the top and not use a folder though.

[2022-08-23 22:55] miguelgrinberg commented on #34
@beyonlo This is useful, thanks. I think I've fixed these new errors now.

[2022-08-26 14:32] beyonlo commented on #34
@miguelgrinberg Errors do not happen anymore, thanks!

Do you know if is possible to limit on the `WebSocket Server` how many `WebSockets clients` can to connect?

[2022-08-27 04:45] sgbaird opened #51 "[Pico W] CircuitPython support vs. switching to MicroPython"
I built up a [basic Pico W - compatible example for an autonomous research lab demo](https://github.com/sparks-baird/self-driving-lab-demo/tree/main/scripts/pico-w) using CircuitPython libraries like [`neopixel`](https://github.com/adafruit/Adafruit_NeoPixel) and [`adafruit_as7341`](https://github.com/adafruit/Adafruit_AS7341). If I want to use microdot, seems I'll need to switch over to running M

[2022-08-27 04:55] sgbaird opened #52 "[FEATURE REQUEST] example of controlling an LED and reading temperature from Pico W"
Sort of an IoT "Hello, World!" example using microdot and Pico W, similar to:
- https://www.raspberrypi.com/news/how-to-run-a-webserver-on-raspberry-pi-pico-w/
- https://github.com/recantha/PicoTemp
- https://www.tomshardware.com/how-to/send-and-receive-data-raspberry-pi-pico-w-mqtt
- https://datasheets.raspberrypi.com/picow/connecting-to-the-internet-with-pico-w.pdf
- etc.

It seems like the code

[2022-08-27 04:58] sgbaird commented on #52
Just noticed the [GPIO example](https://github.com/miguelgrinberg/microdot/blob/main/examples/gpio/gpio.py).

[2022-08-27 11:16] miguelgrinberg commented on #51
Is there anything in this package that is incompatible with CircuitPython? The language is always MicroPython. As long as the low level socket support exists, Microdot should run fine.

[2022-08-27 11:18] miguelgrinberg commented on #52
Yeah, I'm not sure there is a need to have examples for specific boards. There are just too many.

[2022-08-27 11:18] #52 closed

[2022-08-27 11:45] sgbaird commented on #52
All good! Thanks for the quick responses.

[2022-08-27 11:46] sgbaird commented on #51
@miguelgrinberg thanks, turns out it's an issue of CircuitPython not supporting Pico W yet https://github.com/adafruit/circuitpython/issues/6558. So, I'll need to set it up per MicroPython's instructions.

[2022-08-27 11:46] #51 closed

[2022-08-29 20:11] beyonlo commented on #34
I did that just counting the `ws` objects appended on the dict, and after reach more than the `max count`, I just do` ws.close()` to end the `WebSocket` connection. I don't know if this approach is the best way to do that, so suggestions are welcome! :)

Thank you!

[2022-08-29 22:26] miguelgrinberg commented on #34
Yes, that is a reasonable solution.

[2022-08-30 13:27] djs0109 opened #54 "Pass parameter/context to html"
Hello,

I am looking for a way to adjust my HTML dynamically.

My use case is, that I want to develop a web UI for ESP32 MCU, where the users can configure the WLAN. Therefore, the HTML should be but not static but dynamic (based on the scanned WLAN list). Here I found an [example](https://github.com/tayfunulu/WiFiManager/blob/master/wifimgr.py), but not using microdot.

[2022-09-01 10:17] raven703 commented on #54
You can use Javascript to update your html dynamically.  Browser will send data to microdot server and microdot will serve HTML pages back. For data exchange you can use either Web sockets or Server Side Events with fetch().

[2022-09-01 10:47] miguelgrinberg commented on #54
If you need to generate your HTML dynamically you can consider using templates. I have recently added support for the utemplate library. You can find a couple of [examples](https://github.com/miguelgrinberg/microdot/tree/main/examples/hello).

[2022-09-04 18:08] miguelgrinberg commented on #34
@Carglglz Hey, I'm looking at your patch above and have a question. Why is it necessary to reset the SSLContext object with each request in your proposed implementation? This isn't in CPython's SSLContext, as far as I can see. Thanks!

[2022-09-04 20:18] Carglglz commented on #34
@miguelgrinberg , I've made some comments about this in [#8968](https://github.com/micropython/micropython/pull/8968)

This allows to "reuse" the SSLContext. I guess this is not CPython compliant but I'm not sure how to balance between memory allocation and context reusability.
Right now what context does (or I think it does) is:

Context wrap socket --> creates a ssl socket that use the allocated

[2022-09-04 22:12] miguelgrinberg commented on #34
@Carglglz unless I'm missing something, your solution is flawed. You are assuming that there is going to be only one outstanding request, which is incorrect. If that was the case there wouldn't be a need to put the request handler in its own thread. I did not look at your implementation, but the SSLContext object should be able to wrap multiple sockets. Resetting the object at random times seems l

[2022-09-05 00:15] Carglglz commented on #34
@miguelgrinberg this is unfortunately the case at least in current ESP32 port, there is only enough memory to have one `SSLSocket` at a time. (I do have a custom ESP32 implementation where I can have up to two SSLSockets but I haven't tested doing multiple requests at a time there.)

True, but the `_thread` version is the only version  I could test (or is there any other non-threaded version I mis

[2022-09-05 08:53] miguelgrinberg commented on #34
@Carglglz Ah, okay, so that was the catch. I still think the design is flawed though, because there are platforms in which multiple SSL sockets are possible. The memory cleanup should be done by socket when it is closed and not globally for the entire context.

Yes. I have created a `FakeSSLContext` class that implements a `wrap_socket` method using `ssl.wrap_socket` underneath, and that seems to

[2022-09-05 09:30] miguelgrinberg commented on #34
@beyonlo @Carglglz TLS/SSL support is now committed to the main branch. Couple of examples here: https://github.com/miguelgrinberg/microdot/tree/main/examples/tls.

Would appreciate it if you test it and provide feedback. Note that the async support cannot currently be used with MicroPython, since uasyncio does not have the necessary support.

[2022-09-05 09:37] #54 closed

[2022-09-05 15:04] Carglglz commented on #34
@miguelgrinberg I've just tested and it works both in CPython and current MicroPython UNIX port 👍🏼 . This is what I meant, once `SSLContext` is implemented in MicroPython changes to `microdot_ssl.py` should be minimal or even non-existent (apart from code deprecation as you have already indicated)

[2022-09-05 16:43] beyonlo commented on #34
@miguelgrinberg I tested on the `ESP32-S3` with `MicroPython 1.19.1` (same of all others tests) but do not works. When I try to access via browser, `Microdot` stop and show errors. Follow the details:

[code]
[code]

**Chromium output:**
![Screenshot from 2022-09-05 13-39-52](https://user-images.githubusercontent.com/630637/188490637-493a66be-127d-4d61-88b5-b1773091947b.png)

**Firefox output:**
!

[2022-09-05 20:37] Carglglz commented on #34
@beyonlo This is expected as you are using self signed certificates, to make it work with your web browser you need to add the self signed certificate to your system trusted certificates. Look for `adding self signed certificate to chrome` or whatever browser you are using.

[2022-09-05 21:35] beyonlo commented on #34
@Carglglz yes, you are correct.  I added that exception and works - screenshot below. But the Microdot do not should to stop in that exception, I believe.

@miguelgrinberg it is already possible as well to use Secure WebSocket (wss), os just the HTTPS for now?

![Screenshot from 2022-09-05 18-29-55](https://user-images.githubusercontent.com/630637/188514046-b13d4a6d-36b3-4ba8-bc44-842bd8504e5f.png

[2022-09-05 21:39] Carglglz commented on #34
@miguelgrinberg based on your feedback I've modified my implementation of `SSLContext`, and now the context is automatically regenerated after the handshake (so it can wrap new sockets) and also note that in CPython `context.wrap_socket` can wrap connected or not connected sockets, which I tried to support as well, and in UNIX port so far so good, but I'm not sure if the extra code worth it in an

[2022-09-05 22:14] beyonlo commented on #34
@Carglglz Is true that will be not possible to have more than 1 Secure `WebSocket` using the `ESP32-S3`?

Actually I'm using the `Microdot WebSocket Server`, with an intention to have many WebSocket Clients (Browsers and Desktop applications), all them simultaneously connected and communicating with the `Microdot WebSocket Server` running on the `ESP32-S3` - that is working.

My intention is after

[2022-09-05 22:16] miguelgrinberg commented on #34
@beyonlo Correct, this should not stop Microdot. If it does, then that is an exception that I'm not catching, I'll look into that. Regarding WebSocket, I think it should work, but I have not tested wss yet.

@Carglglz I did see that you cannot wrap the main socket in MicroPython. This fake SSL context class that I built allows you to do it, but it is handled internally by delaying the actual call

[2022-09-05 22:30] Carglglz commented on #34
@beyonlo SSL use HEAP memory not RAM memory from MicroPython, there is some work to be able to support usage of RAM memory too so it can support multiple SSL sockets, check [#8940](https://github.com/micropython/micropython/issues/8940)

@miguelgrinberg yes, I've tried to do the same with mixed results in ESP32 port, for server socket it does work at expense of increasing handshake time, and for c

[2022-09-05 22:39] beyonlo commented on #34
@Carglglz understood! Thank you for the exaplanation.

[2022-09-08 15:20] Morteza-24 opened #56 "problem with more than one connection on pyboard + w5500"
I can run a simple web server ([the getting started example](https://microdot.readthedocs.io/en/latest/intro.html#getting-started)) and access it on a single device, but when I try to access it on a second device it stops working with the following error:

[code]

and the error isn't thrown right away, usually after I try to access it again from the first device that I tried it on.

This happens s

[2022-09-08 15:31] miguelgrinberg commented on #56
I don't know what version of microdot.py you are using, I cannot map the line numbers to a recent version.

[2022-09-08 16:12] Carglglz commented on #34
@miguelgrinberg @beyonlo I did a test with WSS and it does work 👍🏼 . It was not too difficult either.

Just modify `index.html` to use `wss`
[code]
And in MicroPython a fake `SSLSocket` class with missing `send`, `recv` methods and `readline` that can accept 1 arg.
[code]

[2022-09-08 17:53] Morteza-24 commented on #56
Sorry I forgot I had added a couple of comments to the source code. Here's the output of the latest version:
[code]

[2022-09-08 17:53] beyonlo commented on #34
@Carglglz That's great! Maybe @miguelgrinberg can to generate a ready to go `wss` example and put in the `examples` directory to tests. I can test it, like as I did with the `HTTPS` example, but in my case, I need the `HTTPS` and `wss` works with `MicroPython` `uasyncio` support :) I think that will be supported soon on the `uasyncio`!

[2022-09-08 19:38] sgbaird commented on #56
I think I ran into the same or a similar issue trying to access a web server on multiple devices, but I figured that was due to an issue on my end not explicitly handling a case with multiple accesses. Is the intended behavior that it can be accessed via multiple devices out of the box?

[2022-09-08 22:05] miguelgrinberg commented on #56
@sgbaird it's a web server, it has no knowledge of how many devices are accessing it. All it knows is that someone is sending requests, but there is nothing that changes when the requests come from different places.

@Morteza-24 I didn't think error 7 can happen during a write, I wonder if this is some weird implementation thing in the network stack of your device, which is using error 7 to mean s

[2022-09-08 22:22] miguelgrinberg commented on #34
Thanks. Pushed a fix for wss and also an example.

[2022-09-08 23:06] Morteza-24 commented on #56
Well that's a pretty weird behaviour since I can refresh the page all I want but as soon as I open it on another device it starts to act weird and soon it will throw an error. And even if it's a lower level problem related to the wiznet and/or micropython I still wonder why it whould care what device a request is coming from. Maybe it could only keep one tcp connection open? Because I see that bro

[2022-09-08 23:32] bulletmark commented on #56
FYI, you can use the `ab` (apache benchmarking tool) to blast multiple concurrent requests. I just now updated to the latest microdot versions and tested this. I don't get any issue if I hit my ESP32 with hundreds of requests with up to 6 in parallel. With 7 or more I find the client reports a socket connection error but the server reports nothing and microdot keeps running. Presumably that is jus

[2022-09-09 01:38] sgbaird commented on #56
@miguelgrinberg thanks for clarifying. Am I missing something basic here, then? https://www.screencast.com/t/KzHazB7O

And trying again, it [seems to be working](https://www.screencast.com/t/PePdNnaZoOZ). Hmm..

[Server code](https://github.com/sparks-baird/self-driving-lab-demo/blob/main/src/micropython_sdl_demo/main.py)

I'm seeing similar behavior to this in the first case, but not running into

[2022-09-09 07:28] Morteza-24 commented on #56
@bulletmark thank you for the information.
What is your concurrency mode? Does micropython have threading on the esp port?

[2022-09-09 08:43] simonmonk opened #57 "WiFi connection function?"
I'm using microdot on the Raspberry Pi Pico W and it's great to see some Pico web server code at the right level of abstraction, rather than the ugly socket stuff.
For me, it would be really nice to have a utility function in microdot.py that does the WiFi connection (see below). I know its perhaps not generic enough, but it makes the main web server code very much cleaner. What do you think?
Sorr

[2022-09-09 09:10] miguelgrinberg commented on #57
Microdot is a generic web framework, it is not concerned with low-level details such as the configuration of the network layer. It would be huge effort to support all possible connection modes for all devices, and this isn't the goal of this library, so I do not currently plan on adding this.

What you should do is create a wifi.py module with your connection function, and drop it alongside microd

[2022-09-09 09:10] #57 closed

[2022-09-09 09:15] miguelgrinberg commented on #56
@sgbaird Do you see this behavior with the hello.py example from this repo? The problem could be related to a number of things, so instead of using your own application, let's simplify and try an example that has the simplest logic.

[2022-09-09 09:16] bulletmark commented on #56
I am using `microdot_asyncio`.

[2022-09-09 09:36] simonmonk commented on #57
You are quite right in all respects - thanks for the pointer.

[2022-09-09 22:29] beyonlo commented on #34
@miguelgrinberg I tested the new [echo_tls.py](https://github.com/miguelgrinberg/microdot/blob/main/examples/tls/echo_tls.py) example on the `ESP32-S3` and it works, but some errors happened until I accept the self signed certificates. Follow the details:

[code]

[2022-09-09 22:37] miguelgrinberg commented on #34
@beyonlo these errors did not stop the application, so they are not a cause for concern. Given that it is impossible for me to know all the possible error codes, and when and if it is safe to suppress the error, the option that I prefer is to log the errors and continue, which is what I'm doing here.

[2022-09-09 22:54] beyonlo commented on #34
@miguelgrinberg I agree! To log the errors and continue is the really the best option, so if something more happen, there is a error log to analyse!

[2022-09-09 23:04] beyonlo commented on #34
@miguelgrinberg Now that I was to stopping the test I observed that there is one more error, but is a same error happened some weeks ago and was fixed by you.

[code]

Complete log:

[code]

[2022-09-10 05:34] Morteza-24 commented on #56
I get this error when I try the [hello_async.py](https://github.com/miguelgrinberg/microdot/blob/main/examples/hello/hello_async.py) example:
Starting async server on 0.0.0.0:5000...
[code]

[2022-09-10 05:39] sgbaird commented on #56
It's not a blocker for me right now, just something I noticed. A MWE would be good. I'll try to circle back to this soon and try with `hello.py` to see if I run into the same issues.

[2022-09-10 10:45] miguelgrinberg commented on #34
@beyonlo There are no strict rules. If the error(s) prevent something from working, then they need to be investigated. If the errors are just noise, but everything works, then it really depends. I can silence errors that are clearly not a problem (such as an EPIPE, which just means that the other side closed the socket). Non-standard errors with crazy error codes I feel less inclined to mess with,

[2022-09-12 11:49] #56 closed

[2022-09-12 12:58] lesept777 opened #58 "How to find the IP address of the server?"
Hi, this is my first test of Microdot, using a T-Pico C3, equipped with an ESP32 C3.
I test the simple example below (using Thonny, then Run):
[code]
But I don't know how to access to the server. using my smartphone and Httper, because I don't know the IP address of the ESP32.

I tried to do this:
[code]
which answers `('192.168.4.1', '255.255.255.0', '192.168.4.1', '0.0.0.0')` but I don't get any

[2022-09-12 13:30] beyonlo commented on #58
@lesept777 First your smartphone WiFi need to be connected to that Access Point created by you, on the ESP32-C3. If you did that, so your smartphone will receive from ESP32-C3 a IP from the network `192.168.4.x`, like as `192.168.4.2`. You can to go in your WiFi config and check what was your IP address received by ESP32-C3. If you done that, you need just to open a browser on your smartphone and

[2022-09-12 14:14] lesept777 commented on #58
Thanks for your answer. You sid:

But, when searching for available WiFi networks on my smartphone, I can see anything that looks like the Access Point.
If I run in Thonny:
[code]

what should I see in the WiFi list on my smartphone?

[2022-09-12 16:42] beyonlo commented on #58
To create an `Access Point WiFi` is not a thing that `Microdot` coverage. The `Microdot` is a small web framework where is transparent for it how you are creating an `AP` or running in a `STA` mode. Your question is not about `Microdot`, but about `MicroPython`, where the `MicroPython` community is the right place. Anyway [here](https://docs.micropython.org/en/latest/esp32/quickref.html#networking

[2022-09-12 19:48] marcin-kasinski opened #59 "Code called in parallel to the main http server"
Hi.
Is it possible to have an http server running and in parallel some kind of cron that every so often will call my code completely unrelated to the HTTP microdot server?

Example : every few hours I would like to download small data from the Internet, which I will want to serve as someone calls my server.

Trivial example: every few hours, in parallel to the running http server, I would like to

[2022-09-12 20:40] beyonlo commented on #34
@miguelgrinberg

**Report:**
**1. A strange behaviour (bug too?)**
**2. A bug**

**1. Strange Behaviour:**

Since last week (on my first test of [hello_tls.py](https://github.com/miguelgrinberg/microdot/blob/main/examples/tls/hello_tls.py)) I would like to report you about a different behaviour in different platforms: `ESP32` and `Linux`.

**--** Using `Microdot` (over `MicroPython`) on `Linux`, w

[2022-09-12 20:50] beyonlo commented on #59
@marcin-kasinski Yes, is possible.

If you use the `Microdot` with `asyncio` support, you can just to create a new [asyncio task](https://docs.micropython.org/en/latest/library/uasyncio.html?highlight=asyncio#uasyncio.create_task) to do what do you want.

If you use `Microdot` using `thread`, so you still can to do that, just creating another thread to do what do you want.

I prefer to run `Microd

[2022-09-12 22:15] miguelgrinberg commented on #34
@beyonlo So all these tests that you are doing are with a self-signed certificate that the browser does not accept? Have you tested a certificate that the browser is configured to accept/trust, which is the normal workflow? I haven't really tested self-signed certificates, they're just not very practical since all browser reject them.

[2022-09-12 22:19] marcin-kasinski commented on #59
@beyonlo

Do you have a simple example here?

Let's say I want to run an http server and in parallel write out anything to the console every second.

[2022-09-12 23:08] beyonlo commented on #34
Hi @miguelgrinberg

Yes, following the [README.md](https://github.com/miguelgrinberg/microdot/blob/main/examples/tls/README.md) how to create self-signed certificates - that is exactly what I need for my project, thank you!

I don't know if I understand this question part very well. After that browser detect that is a self-signed certificate, it show a option to `Accept the Risk and Continue` (scr

[2022-09-12 23:19] miguelgrinberg commented on #34
@beyonlo self-signed certificates have become less practical, because browsers introduce all these barriers to use them. Chrome for example does not provide an option to access the site anymore when the certificate is self-signed.

I believe this was mentioned above, you can configure your browser to accept certificates from a certificate authority that is managed by yourself. This is closer to ho

[2022-09-12 23:21] beyonlo commented on #59
@marcin-kasinski in that url that I pasted for you, on the top of page has a example creating tasks (`uasyncio.create_task(blink(led1, 700))`).

Yes, as I told you, if you will use microdot asyncio, you need just to create a new task to do something at the same time that microdot runs - it is not blocking.

[2022-09-13 00:37] beyonlo commented on #34
Understood. I tested that on the Chrome for Android and works. But I tested just Chrome for Android, not Chrome for PC. As my smartphone has a old version of Android, maybe this version of Chrome on Mobile still works.

So sorry, I remember that, but I was thinking that is just about `Accept the Risk and Continue`. Now I understand better, thank you!

Perfect! I wasn't know if that is possible - l

[2022-09-13 06:25] marcin-kasinski commented on #59
Thank you very much for the explanation.

[2022-09-13 06:25] #59 closed

[2022-09-13 08:57] lesept777 commented on #58
Thank you @beyonlo.
I found [here](https://forum.micropython.org/viewtopic.php?f=18&t=7104&p=40422&hilit=AP_IF+create+access+point#p40422) that there is a mistake in the [documentation of Micropython's network](https://docs.micropython.org/en/latest/esp32/quickref.html#networking), in the second part of the first example: it should be `essid` instead of `ssid`
`ap.config(essid='ESP-AP') # set the

[2022-09-13 15:21] Carglglz commented on #34
@beyonlo This delay is expected (at least what I've tested so far), TLS handshake takes approx 1 second in ESP32
[code]

And for the requests

ESP32

[code]

UNIX
[code]

[2022-09-14 21:44] Carglglz commented on #34
@beyonlo  Yes, although there is a feature in TLS called session resumption (it is available in Python see [rfc 5077](https://datatracker.ietf.org/doc/html/rfc5077) and [SSLContext.wrap_socket](https://docs.python.org/3/library/ssl.html#ssl.SSLContext.wrap_socket)), but unfortunately it hasn't been implemented yet in MicroPython and I'm not sure if it will be.

[2022-09-16 12:50] #58 closed

[2022-09-17 11:57] WattageGuy opened #60 "Handling special characters/utf-8 from request"
According to the docs body string in HTTP response should be encoded in UTF-8 but the response cant handle special characters like "ÅÄÖ". This is the code im using:

[code]

[2022-09-17 18:07] miguelgrinberg commented on #60
@WattageGuy This is actually a problem on my part. I documented how I intended this to work, but it appears I haven't implemented this fully. Fix coming soon.

[2022-09-17 18:34] #60 closed

[2022-09-17 18:35] miguelgrinberg commented on #60
@WattageGuy Could you please try the microblog.py in the main branch and confirm you are able to work with UTF-8 forms with it? Thanks!

[2022-09-18 09:43] sophiedegran opened #61 "problème update V1 tout V1.1"
Miguel
Many thanks with that fantastic project
There is a problem on microdotwebsocket.py with
self.request.sock.write line 20 and after you are not writing self.request.sock.send
Same thing with self.request.sock.read line 113 and after it is self.request.sock.recv

Regards

[2022-09-18 10:18] #61 closed

[2022-09-18 10:19] miguelgrinberg commented on #61
Yes, I have been testing almost exclusively with a TLS web server and did not realize that I left an inconsistency between that and the regular non-encrypted server. Please retest with version 1.1.1 and let me know if the problem is addressed.

[2022-09-18 11:15] ThinkTransit opened #62 "Async websockets - Unicode Error when connecting from Dart/Flutter"
Hi,

I have a micropython app running microdot async websockets. It works ok from a browser (using the example) however when I try to connect to the websocket from Dart/Flutter I get a unicode error.

[code]

Any ideas on how I can debug this further?

I am using the latest microdot code from github.

Thanks

[2022-09-18 11:20] miguelgrinberg commented on #62
MicroPython does not currently have SSL support in its uasyncio package. I often see the `UnicodeError` appear when the client is treating the server as a TLS server, while in fact it isn't.

[2022-09-18 11:40] ThinkTransit commented on #62
Thanks @miguelgrinberg that was the problem, I was using wss: instead of ws:

Great project btw

[2022-09-18 11:40] #62 closed

[2022-09-18 11:43] sophiedegran commented on #61
sending json data every 15sec and works like a charm

Thanks

Le dim. 18 sept. 2022 12:19, Miguel Grinberg ***@***.***> a
écrit :

[2022-09-22 15:15] beyonlo opened #63 "Question: upload file example."
Hello.

I would like to send, via upload page, to the `ESP32` flash a `file.tar.gz` file (~`6MB`). Are there any example or tip how to do that?

The idea is just simple: user click on upload button on the page, and select on local computer the file, and send it.

Thank you.

[2022-09-22 15:37] miguelgrinberg commented on #63
There is no support for form-based (i.e. multipart) file uploads. The only way to send large files is with the client sending the binary payload directly in the body of the request, which the server can access via `request.stream` and read in chunks as necessary.

[2022-09-22 16:53] miguelgrinberg commented on #63
Quick example: https://github.com/miguelgrinberg/microdot/tree/main/examples/uploads

[2022-09-22 21:06] beyonlo commented on #63
@miguelgrinberg Thank you very much for the example, that will be very useful for everyone!

I tested and works fine for little files, but unfortunately not works with files with size more than 16384 bytes.

I did many tests until to discover that works until 16384 bytes. If I add 1 more byte, (16385 bytes) do not works anymore. I did a take a look on the `uploads.py,` but I have no idea what can

[2022-09-22 22:12] miguelgrinberg commented on #63
You need to set a maximum allowed size here: https://microdot.readthedocs.io/en/latest/api.html#microdot.Request.max_content_length.

[2022-09-22 23:13] beyonlo commented on #63
@miguelgrinberg amazing! Works! I set up the `max_content_length` to `6MB` and works fine :)

Thanks for the help and example! :)

[2022-09-22 23:13] #63 closed

[2022-09-25 11:16] #34 closed

[2022-09-26 16:26] beyonlo opened #64 "Help: port the uploads.py example to the uploads_async.py"
Hello.

I'm trying to port the [uploads.py](https://github.com/miguelgrinberg/microdot/blob/main/examples/uploads/uploads.py) example to works with `uasyncio,` but I have no success.

I changed very little parts from the original file, following others `async` examples. Here the `uploads_async.py` that I'm trying:

[code]

**Error that happen on line 27 -->  `f.write(chunk)`:**
[code]

I think tha

[2022-09-26 16:36] miguelgrinberg commented on #64
I can look at this later, but the stream is asynchronous and should be awaited:

[code]

File I/O is not asynchronous, so the `f.write(chunk)` is fine as it is, I think.

[2022-09-26 17:15] beyonlo commented on #64
With this modification, works!

Thank you!

[2022-09-29 10:49] QGB opened #65 "File "microdot.py", line 25 SyntaxError: invalid syntax"
[code]
upip install to /Lib/src ,so I directly save https://github.com/miguelgrinberg/microdot/blob/main/src/microdot.py to esp32c3 board

[2022-09-29 12:00] miguelgrinberg commented on #65
What do you have in line 25 of microdot.py? Do not look in github please, look in the copy of the file that was installed on your device.

[2022-10-01 12:06] AndyThirtover commented on #49
I just got delivery of the W5500-EVB-Pico and I can confirm the same issue.   Perfect over two switches - very slow or failed refreshes when connected to the same switch.

[2022-10-01 20:20] diegorebollo opened #66 "utemplate and pico w"
Hi!, I'm trying to use utemplate implementation but for whatever reason it didn't work, and i don´t understand why. Any clue?

![Screenshot from 2022-10-01 22-04-16](https://user-images.githubusercontent.com/111189622/193426977-4ff92dc6-4395-4a7d-b198-551eea0d6162.png)

[2022-10-02 08:02] miguelgrinberg commented on #66
Try putting your html template in a templates subdirectory.

[2022-10-02 08:17] diegorebollo commented on #66
Okay, it was that simple thing. Thank you very much!.

[2022-10-02 08:17] #66 closed

[2022-10-04 01:40] jimmo opened #67 "mip-installable version of microdot"
Thanks @miguelgrinberg for this fantastic library. I have lost count of how many times I have recommended it in the MicroPython forums and Discord!

The MicroPython project has recently implemented a long-standing TODO which is to upgrade our package manager and downloadable package index (formerly `upip`, now `mip`). See https://docs.micropython.org/en/latest/reference/packages.html

It would be

[2022-10-04 01:43] dpgeorge commented on #67
I like this idea.  Kind of like a symlink.

[2022-10-04 01:53] jimmo commented on #67
FWIW, this is exactly what this TODO is about. https://github.com/micropython/micropython/blob/master/tools/manifestfile.py#L61

So question for @miguelgrinberg -- would you be willing to add some `manifest.py` files to this repo if I sent a PR for it? This would allow people right now (unrelated to `mip`) to depend on microdot from their frozen manifest via `include("path/to/microdot/manifest-asy

[2022-10-06 09:14] QGB commented on #65
@miguelgrinberg
[code]

it is the correct way to install microdot in esp32 board?

[2022-10-06 17:55] miguelgrinberg commented on #67
I will look into this in the coming days, but if I have to be honest, the idea of using micropython-lib as the package repository does not really feel like a great way to foster an ecosystem of third-party packages, but maybe I need to play with this some to start seeing the benefits of doing this.

[2022-10-07 19:02] miguelgrinberg commented on #67
@jimmo It seems right now the best way to use `mip` would be through the github links:

[code]

Adding json files does not really seem like it provides much of a benefit, since the files will still be installed in source form. So I'm thinking I'm not going to add json files, and instead will show how to install as above, since the json path seems more of a workaround than a long term solution.

I

[2022-10-08 07:56] diegorebollo opened #68 "inherit from another template using utemplate"
Hi, I using microdot utemplate implementation and everything works flawless but i want to use a base html template and inherit from that for others pages. I was wonder if this is doable, reading utemplate documentations it's looks possible but it a bit unclear how to do it. Any clue?

[2022-10-08 11:24] miguelgrinberg commented on #68
My understanding is that it does not support template inheritance. I have added a quick [bootstrap](https://github.com/miguelgrinberg/microdot/tree/main/examples/templates/utemplate) example that shows a way to fake inheritance through includes, in case it is helpful.

If you have any specific questions about uTemplate, please contact the package developer, I cannot provide support for this librar

[2022-10-08 11:24] #68 closed

[2022-10-08 11:31] miguelgrinberg commented on #67
This does not look like a good solution to me. With this I would be losing the ability to publish updates to my package whenever I need/want to. Instead you would have control to publish updates to my package through the placeholder package you create in micropython-lib.

I think now that you have created your own package index you will have to provide developers a tool or API to submit that is in

[2022-10-08 12:16] diegorebollo commented on #68
Thanks you very much, I really appreciate it.

[2022-10-10 22:38] #64 closed

[2022-10-13 14:25] QGB opened #70 "Does microdot WebSocket support Sec-WebSocket-Protocol (sub-protocols)"
https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_client_applications#creating_a_websocket_object

https://github.com/aaugustin/websockets/blob/main/src/websockets/headers.py#L441

[2022-10-13 14:33] beyonlo opened #71 "Question: how is possible to run Microdot in two IPs?"
Hi @miguelgrinberg

Is there any way to run the microdot in two IP address?

The `ESP32` is running in `STA` mode, getting the IP address via `DHCP,` and running simultaneously on `AP` mode, with IP address `192.168.4.1.`

I would like that if anyone access the IP `192.168.4.1` the browser will open the page `x.html` and when access other IP address, open the page `y.html.`

Something like this:

[2022-10-13 16:15] QGB commented on #71
use `request.headers['Host']`

[2022-10-13 18:07] miguelgrinberg commented on #70
There is no support for subprotocols at this time.

[2022-10-13 18:12] miguelgrinberg commented on #71
This is something that the network stack needs to deal with, not Microdot. If passing `0.0.0.0` doesn't listen on all the interfaces, then that's a problem with the network functions.

[2022-10-13 20:04] beyonlo commented on #71
@QGB perfect! Works very well!

Thank you so much!

[2022-10-13 20:08] beyonlo commented on #71
@miguelgrinberg I was already using `0.0.0.0` and listening in both interfaces, the `AP` mode and `STA` mode - simultaneously, but I have just the same `html` page accessing `STA` and `AP` mode. If we consider that `AP` mode is one interface and `STA` mode is another interface, so passing `0.0.0.0` listen in all the interfaces. Am I correct?

I'm using the @QGB tip and works very well. So, I just

[2022-10-13 21:34] miguelgrinberg commented on #71
@beyonlo Got it. For some reason I thought the problem was that connecting was the problem, possibly because of the wording of your question. The issue was in handling the two IPs differently more than running Microdot on the two IPs, which you already were.

[2022-10-13 21:41] beyonlo commented on #71
@miguelgrinberg yes, you are right, writing "to run Microdot in two IPs" was not the correct way to explain my question.

Thank you for your attention!

[2022-10-13 21:41] #71 closed

[2022-10-15 09:06] Gingso opened #72 "utemplate raise error on keyword argument"
Hi Miguel,

the utemplate integration raise an error on keyword.  It seems like there is something missing in microdot_utemplate.py

Code snipped:

`import uasyncio as asyncio
from microdot_asyncio import Microdot, Response
from microdot_utemplate import render_template

app = Microdot()
Response.default_content_type = 'text/html'

..........

@app.route('/')
async def mainpage(request):
    name=

[2022-10-15 09:22] #72 closed

[2022-10-15 09:23] Gingso commented on #72
I had a typo in the template, sorry.

[2022-10-15 11:58] DiegoPomares opened #74 "Error handler with exception class"
Hi there!

I'm using the second form of the [error handler decorator](https://microdot.readthedocs.io/en/latest/intro.html#error-handlers) to process some custom exceptions.

The error handler only works when the class of exception thrown is exactly the same as the one specified in the decorator, but it doesn't work if it is a subclass. I was expecting that the exceptions that are subclasses of th

[2022-10-15 12:04] miguelgrinberg commented on #74
I don't have a problem with expanding the way this works so that you get the handler for a parent class invoked, provided that the child class doesn't have a handler defined.

The logic that dispatches the error to a handler is [here](https://github.com/miguelgrinberg/microdot/blob/main/src/microdot.py#L1108). The if statement would need to be converted to a while loop that traverses the class hie

[2022-10-15 12:26] DiegoPomares commented on #74
Sure! I'll give it a try

[2022-10-15 19:06] DiegoPomares commented on #74
PR ready for review #75

Feel free to change the additions to the docs if you find a better wording :smile:

[2022-10-15 19:12] miguelgrinberg commented on #74
@DiegoPomares The MicroPython PR build is not passing. There is no `inspect` on that platform.

[2022-10-15 19:25] DiegoPomares commented on #74
My bad I thought `isclass` was a builtin and didn't noticed it was added by the IDE, plus I didn't scroll down to see there were issues :facepalm:
I'll fix it

[2022-10-15 20:30] DiegoPomares opened #76 "Relative imports"
Hello again!

Would it be bad to use relative imports in the core extensions?

I'm placing external libraries into a `vendor` directory, I like the idea of having both the source files and namespaces separated from the actual application, but when I added `microdot_asyncio.py` I had to make the `microdot` imports relative so that it would work.

For reference, here's the [app repo](https://github.

[2022-10-15 20:41] DiegoPomares commented on #74
Done

[2022-10-15 23:45] miguelgrinberg commented on #76
Relative imports only work for files that are inside a package. Microdot is a collection of top-level modules, so it cannot be done. It only works for you because you are moving these files into a `vendor` package.

[2022-10-16 06:25] DiegoPomares commented on #76
Ok makes sense when you put it that way :+1:

[2022-10-16 06:25] #76 closed

[2022-10-16 15:22] QGB commented on #70
https://github.com/aaugustin/websockets
[code]

[2022-10-16 15:53] miguelgrinberg commented on #70
I don't know what you are you showing me. As I said, the Microdot websocket implement does not support subprotocols at this time.

[2022-10-17 16:39] QGB commented on #5
[code]

[2022-10-17 17:38] miguelgrinberg commented on #5
@QGB the path and/or filename you are passing to send_file is likely wrong. Errno 20 is a "not a directory" error, and it happens in the line where the file is opened. Nothing to do with the actual sending of the file.

[2022-10-20 17:38] DiegoPomares commented on #74
Please let me know if there's anything else that stands out and I'll be happy to take a look :smile:

[2022-10-20 18:22] miguelgrinberg commented on #74
The only thing that I wanted to think about is if there was a way to select the most specialized exception class instead of just the first one, but I haven't had time to think about this and see if it is feasible yet.

[2022-10-20 18:41] DiegoPomares commented on #74
I wanted it to behave exactly as you describe but I couldn't think of a straightforward way to do so, my first instinct was to use the MRO but it's completely different in MicroPython and I'm not sure if coding a method that would produce the equivalent of `__mro__` in CPython is a good idea tbh...

[2022-10-30 04:33] sophiedegran opened #78 "post upload 413"
Many tks miguel for this fantastic project

Trying to use your upload example it works fine with 12ko jpg file but exceed 15  or 16ko server send 413
(Payload too large) and in javascript console Error connexion reset (normal)

Client windows 10, edge 92.x

regards

[2022-10-30 08:20] miguelgrinberg commented on #78
This is a security feature. You can configure a different maximum allowed request size. See https://microdot.readthedocs.io/en/latest/api.html#microdot.Request.max_body_length in the documentation.

[2022-10-30 10:54] sophiedegran commented on #78
You're right and also max content length

It works like a charm
Thanks

[2022-10-30 11:31] #78 closed

[2022-11-08 00:27] #74 closed

[2022-11-12 19:38] mc0110 opened #79 "JWT Lib in microdot-session"
Hi Miguel,

thanks for your great work. I try to use your framework on micropython ports. But unfortunately I can't load the additional libs (e.g. JWT). Which versions did you use for micropython?

Thank you in advance
Magnus

[2022-11-12 19:42] miguelgrinberg commented on #79
The links to the dependencies are in the documentation. Are you following those instructions?
https://microdot.readthedocs.io/en/latest/extensions.html#maintaing-secure-user-sessions

[2022-11-12 20:36] mc0110 commented on #79
Great!! Thank a lot for the hint!

Super project!!

[2022-11-14 19:05] mc0110 opened #80 "File-Download-Example"
Hi Miguel,

I know this is not an issue. Can you give me a code example for a download. In your examples I find an upload, but no download. Sorry if the question is rather banal.

Best regards
Magnus

[2022-11-14 19:09] miguelgrinberg commented on #80
The documentation has a section on [serving files](https://microdot.readthedocs.io/en/latest/intro.html#file-responses). The example there uses an HTML file. You can replace that with any kind of file you want the client to download.

[2022-11-14 19:17] mc0110 commented on #80
Thank you for this super quick reply and sorry again for the stupid question. I did not see it.

[2022-11-14 19:18] miguelgrinberg commented on #80
There are no stupid questions!

[2022-11-14 19:47] mc0110 commented on #80
Great tip. It works now!!! Thank you very much!

[2022-11-15 03:49] codiak6335 opened #81 "having issues setting up a route"
I hope this is user error... but trying to create a route for "change" and it always 404's when called

@app.route('/change', methods=['GET', 'POST'])
def change(request):
     print (request.args)
    return send_file('Interval.html')

http://192.168.0.134:5000/change?time=11&recaptchaResponse=

[2022-11-15 10:46] miguelgrinberg commented on #81
The problem must be somewhere else, not in the code that you are showing me. What else do you have in your application? Is it a single file? Multiple files? What's the structure?

[2022-11-15 15:28] codiak6335 commented on #81
Looks like it was user error and I still don't know where...  but in stripping my code to post, I actually got it to work.   Thanks for the followup and sorry for wasting your time.

[2022-11-15 17:07] #81 closed

[2022-11-16 19:02] mc0110 opened #82 "file upload example"
Hi Miguel,

it's Magnus once again. Thanks for the great framework.

Your upload example works in the threat variant in my code too, but not in the asyncio variant. Do you have an idea why? The error is: TypeError: object with buffer protocol required.

I have another question. Why can't I use global variables in the code that I need to query / set between requests.

[2022-11-16 19:13] miguelgrinberg commented on #82
I cannot comment on code that I haven't seen.

But in any case, I've added an asyncio version of the file upload example: https://github.com/miguelgrinberg/microdot/blob/main/examples/uploads/uploads_async.py.

[2022-11-16 20:29] mc0110 commented on #82
That is really true!

I'll try it with your example. If I get stuck, I'll post my code example.

[2022-11-16 20:31] mc0110 commented on #82
Can you give me a hint on the global variables question - it's a mystery to me

[2022-11-16 20:40] mc0110 commented on #82
Is it true that the magic line
`Request.max_content_length = 1024 * 1024 # 1MB (change as needed)`
is? Could you please explain this?

[2022-11-16 22:47] miguelgrinberg commented on #82
I can't answer your global variables questions, because I don't understand what you are asking me. Same as before, without code it is difficult. Microdot has nothing to do with global variables, you should be able to use them when it makes sense.

The `max_content_length` is the maximum size you want to allow for uploads. You don't have to ask me about this, by the way, this is all documented: htt

[2022-11-17 10:22] miguelgrinberg commented on #82
What does "previous path" mean here? How would the server know what the previous path is? All you need to do after you save the file is to return a redirect to the place you want to go. The after_request thing that you are doing does not really make sense in this case.

What cookies? You don't have any cookies in the code you copied in your question. Cookies cannot be "lost" because they are kept

[2022-11-17 17:16] RunTJoe opened #83 "Ascync UDP broadcast server with Microdot on Raspi Pico W"
Hello!

I have started working with Microdot on a Raspberry Zero W and it’s running great! My intended application has 3 parts working in parallel via uasyncio: a web server, a main loop and a kind of UDP broadcast discovery server.

Basically all 3 parts are running together, but the broadcast server is ugly, just polling for a broadcast request, sleeping some ms and polling again. Is there a pos

[2022-11-17 23:03] miguelgrinberg commented on #83
I don't really know if there is UDP support in the uasyncio module, but that's what you should be doing here instead of using sync functions that cannot be awaited. And if that does not work, at the very least you should change the 5 second time in your poller to 0, so that it becomes non-blocking.

[2022-11-22 13:31] sophiedegran opened #84 "microdot.py line 1044 if res and res ! ..."
Seem same thing
Regards

[2022-11-22 14:21] sophiedegran commented on #84
Ah ok so sorry Miguel

Le mar. 22 nov. 2022 15:11, Miguel Grinberg ***@***.***> a
écrit :

[2022-11-22 14:37] #84 closed